.section-1{

}
.section-1 ul{
    padding: 0;
    list-style: none;
}
.section-2 ul{
    list-style: none;
    padding: 0;
}
.section-2 ul li{
    font-size: 20px;
}
.section-2 ul li b{
    color: red;
}