<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords" content="Sales page, landing page template, HTML5 template, responsive html5 template, bootstrap landing page, Affiliate marketing, eBook template, product landing page, email marketing, bootstrap template, marketing landing page, campaign monitor, active campaign, startup template, product showcase">
    <meta name="description" content="IMSolutions is a sales page and landing page HTML5 template for affiliate marketing very suitable for internet marketing, product launch, download software eBook landing page, and compaign monitoring">
    <meta name="author" content="nce18cex">
    <link rel="icon" href="ico/favicon.png">

    <title>Sales Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Theme skins -->
    <link id="skin" href="skins/default.css" rel="stylesheet">


    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if IE 9]>  
      <link href="css/ie.css" rel="stylesheet">
    <![endif]-->
</head>

<body>
    <!-- Start header -->

    <!-- End header -->

    <!-- Start parallax -->
    <div class="parallax bg2">
        <div class="parallax-wrapp padding-bot50">
            <div class="container">
                <div class="row marginbot30">
                    <div class="col-md-12 introduce text-center">
                        <p>
                            <span class="yellow">Veteran Digital Marketer</span> Reveals How To <span class="underline">Create A Digital Empire</span> In Just <span class="underline">1 Month</span>
                        </p>
                        <p style="font-size: 24px">Create and sell digital products and earn passive income with a simple but revolutionary method</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End parallax -->

    <!-- Start contain wrapp -->
    <div class="contain-wrapp wall-container padding-bot60">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="paper-wrapper">
                        <div class="paper-header">
                            <h3>Trying to end your struggle with selling online isn't nearly as easy as they make it seem, is it?</h3>
                        </div>
                        <div class="paper-main">
                            <p>
                                If I were to take a guess, stress has probably gotten the best of you. You have:
                            </p>
                            <ul class="list-icons list-lg">
                                <li><i class="fa fa-check green"></i> Done research.</li>
                                <li><i class="fa fa-check green"></i> Rried making digital courses.</li>
                                <li><i class="fa fa-check green"></i> Tried to learn how to build websites.</li>
                            </ul>
                            <img src="img/guaranted.png" class="alignleft" alt="" />
                            <h5>But There is Good News!</h5>
                            <p>
                                Hey there, my name is Joe and yes, I know exactly how you're feeling.
                            </p>
                            <p>These days, I've managed to achieve quite a bit of success... I'm able to build new digital products every month, I can also earn passive income, and I'm very lucky in that I can get huge windfalls from my digital products.</p>
                            <p><span class="yellow">But I'll be honest...</span></p>
                        </div>

                        <div class="paper-wrapper-left"></div>
                        <div class="paper-wrapper-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End contain wrapp -->



    <!-- Start contain wrapp -->
    <div class="contain-wrapp dark-container cta-wrapp section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2> Things <i class="yellow">Definitely</i> Didn't Start Out This Way...</h2>
                    <p>efore I ever achieved even a tiny taste of success, there were a lot of roadblocks. So many times I was ready to throw in the towel.</p>
                    <p>When I first started out, <strong>  I didn't know how to create digital products, I didn't have any marketing knowledge, and I was afraid I would waste my time and money.</strong>
                        None of it worked out for me and I just ended up ready to quit, thinking I would never be able to <strong>create and sell digital products and earn passive income.</strong>
                    </p>
                    <h2>Of course, you know exactly what I'm talking about, right?</h2>
                    <p>Does Any of This Sound Familiar?</p>
                    <ul>
                        <li><i class="fa fa-check"></i> You've <span class="yellow"> done research </span>which just resulted in <span>confusion.</span></li>
                        <li><i class="fa fa-check"></i> You've <span>tried making digital courses</span> which led to <span class="yellow">frustration</span>.</li>
                        <li><i class="fa fa-check"></i> You've tried to<span class="yellow"> learn how to build websites</span> which just ended up in <span class="yellow">stress and wasted money </span> .</li>
                    </ul>
                    <h3>And now you're still at square one. I understand just how you feel.</h3>

                    <h2>Just Before I Was Ready to Give Up, A Stroke of Luck Changed Everything.</h2>
                    <p>I was just about at that point when I <span class="yellow">realized how simple it was</span> .</p>
                    <p>As soon as I discovered this, everything instantly got easier.</p>

                    <h2>As soon as I discovered this, everything instantly got easier.</h2>
                    <p>Since then, I've run into multiple others who encountered the same, never-ending battle I went through. And it seemed pretty unfair to keep it to myself... especially since it's been such a huge stepping stone in my success.</p>
                    <p><span class="yellow">So I'd like to let you in on the "secret."</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End contain wrapp -->

    <!-- Start contain wrapp -->
    <div class="contain-wrapp gray-container section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>Digital Business Secrets</h1>
                        <p>My UNIQUE methods that will help you to <span class="yellow">create and sell digital products and earn passive income </span> in the next <span class="yellow">month</span></p>
                        <h5>So what exactly is this going to do for you? Can my methods really turn everything around for you?</h5>
                        <h5>Here's How <span class="yellow">Digital Business Secrets</span> Will Benefit You:</h5>
                        <ul>
                            <li> advice based on 15 years of experience so you won't make the same mistakes I made. <span>Value: <b>$1000.00 </b></span></li>
                            <li> answers to many of your questions so you will no longer be confused. <span>Value: <b>$1000.00 </b></span></li>
                            <li> lots of useful tips on creating digital products that'll help you to quickly create your own digital products. <span>Value: <b>$1000.00 </b></span></li>
                            <li> tips on how to sell your digital products successfully. <span>Value: <span>Value: <b>$1000.00 </b></span></span></li>
                            <li> basic and advanced training that'll help you no matter your experience. <span>Value: <b>$1000.00 </b></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End contain wrapp -->

    <!-- Start contain wrapp -->
    <div class="contain-wrapp padding-bot40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>You Don't Have to Take My Word For It...</h4>
                        <h5>I've already slipped the secret to a select group of people. Truth be told, I wanted to guarantee that this would actually work time and time again.

                            More importantly, I wanted to make sure you'd achieve the same results I have.

                            And well... I'll let them speak for themselves...</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="testimoni-wrapp">
                        <a href="#" class="testimoni-avatar"><img src="img/testimoni/avatar01.jpg" alt="" /></a>
                        <div class="testimoni">
                            <blockquote>
                                Audiam delectus eu duo, ullum salutandi ocurreret ut vix, duis utinam percipit id quo. In nec nostrud quaeque, his an quot congue doming.
                            </blockquote>
                            <h5>Asep jebot</h5>
                            <p><a href="#">Jebot corp</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimoni-wrapp">
                        <a href="#" class="testimoni-avatar"><img src="img/testimoni/avatar02.jpg" alt="" /></a>
                        <div class="testimoni">
                            <blockquote>
                                Semper reprehendunt at mei. Sea nemore delenit forensibus ea, sed ei melius fierent eligendi. Novum volumus ea sit, atqui fierent has eu.
                            </blockquote>
                            <h5>Icih geboy</h5>
                            <p><a href="#">GBY inc</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimoni-wrapp">
                        <a href="#" class="testimoni-avatar"><img src="img/testimoni/avatar03.jpg" alt="" /></a>
                        <div class="testimoni">
                            <blockquote>
                                Audiam delectus eu duo, ullum salutandi ocurreret ut vix, duis utinam percipit id quo. In nec nostrud quaeque, his an quot congue doming.
                            </blockquote>
                            <h5>Ujang oblag</h5>
                            <p><a href="#">Oblag corp</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End contain wrapp -->


    <!-- Start contain wrapp -->
    <div class="contain-wrapp dark-container cta-wrapp section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2> "Yes! I'd Love to Get in On This, But What's the Catch?"</h2>
                    <p>You've heard what I have to say. This <span class="yellow">course</span> is wonderful. But what's the catch?</p>
                    <p>I'll be honest, you could skip over this offer today and <span class="yellow">outsource the work </span>.</p>
                    <p>But you'd have to shell out at least <span class="yellow">$1000.00</span>.</p>

                    <h2>But don't worry.</h2>
                    <p>You won't have to pay anywhere near that amount today.</p>
                    <p class="yellow">In fact, I'm actually going to sweeten the deal for you right now.</p>



                </div>
            </div>
        </div>
    </div>
    <!-- End contain wrapp -->
    <!-- Start contain wrapp -->
    <div class="contain-wrapp">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-heading">
                        <h4>Extra awesome bonus</h4>
                        <p>When You Sign Up Today, You'll Also Get FREE Access To.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bonus-box blue-border">
                        <img src="img/dummy/img01.png" class="alignleft" alt="" />
                        <h3>BONUS #1 :</h3>
                        <h4> Value: $.00</h4>
                        <p>
                            This will help you Why Bonus #1 Makes the Main Product Better.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bonus-box red-border">
                        <img src="img/dummy/img04.png" class="alignleft" alt="" />
                        <h3>Bonus #2 :</h3>
                        <h4>Value: $.00</h4>
                        <p>
                            This will help you Why Bonus #2 Makes the Main Product Better.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bonus-box yellow-border">
                        <img src="img/dummy/img03.png" class="alignleft" alt="" />
                        <h3>BONUS #3 :</h3>
                        <h4>Value: $.00</h4>
                        <p>
                            This will help you Why Bonus #3 Makes the Main Product Better.
                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>You'll Get Bonuses Total Value Worth of Great Products Completely Free!</h4>
                    </div>
                    <p>But there is one thing.</p>
                    <p>Scarcity. Once I close down the offer we won't release it again at this price. I'm doing this because I created this for my private clients only..</p>
                    <p>Not to worry though.</p>
                    <h4>To make your decision extremely easy, I'm going to remove all risk!</h4>
                    <p>Yup, that's right. I want to guarantee you take advantage of this offer today, and feel good about it.</p>
                    <p>You're protected by our 60 day money-back guarantee. If for any reason at all you're not completely satisfied, get in touch with our team and we will give you a complete refund. It's that simple.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End contain wrapp -->
    <!-- Start contain wrapp -->
    <div class="contain-wrapp dark-container cta-wrapp section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2> "Yes, I Want In! How Much Will This Cost Me?"</h2>
                    <p>I'm stoked for you to jump in and get started. Even more so, I can't wait for you to see the results that are waiting for you on the other side.</p>
                    <p><span class="yellow">Here's a quick recap of everything you'll receive when you secure your copy right now: </span>.</p>

                    <ul>
                        <li><i class="fa fa-check"></i> advice based on 15 years of experience- $1000.00</li>
                        <li><i class="fa fa-check"></i> answers to many of your questions- $1000.00</li>
                        <li><i class="fa fa-check"></i> lots of useful tips on creating digital products- $1000.00</li>
                        <li><i class="fa fa-check"></i> tips on how to sell your digital products- $1000.00</li>
                        <li><i class="fa fa-check"></i> basic and advanced training- $1000.00</li>
                    </ul>


                </div>
                <div class="col-md-12">
                    <h4>And You're also Getting:</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <h1> Bonus #1 - $.00</h1>
                        </div>
                        <div class="col-md-4">
                            <h1> Bonus #2 - $.00</h1>
                        </div>
                        <div class="col-md-4">
                            <h1> Bonus #3 - $.00</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End contain wrapp -->

    <!-- Start contain wrapp -->
    <!--<div class="contain-wrapp dark-container">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-8 col-md-offset-2 text-center">-->
                    <!--<div class="guaranted-box">-->
                        <!--<img src="img/guarantee.png" class="img-responsive" alt="" />-->
                        <!--<h3>Full 30 day money back guarantee no questions asked </h3>-->
                        <!--<p>I'm 100% confident that you will love IMSolutuons template</p>-->
                        <!--<p>But if you don't... I'm offering a full 30-Day, no questions asked money-back guarantee</p>-->
                        <!--<p><img src="img/sign.png" alt="" /></p>-->
                        <!--<p><img src="img/man.png" class="img-circle" alt="" /></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- End contain wrapp -->


    <!-- Start contain wrapp -->
    <div class="contain-wrapp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4 class="red">When You Secure Your Copy of Digital Business Secrets Today, You'll Get a Total Value of $5000.00 For ONLY.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center relative">
                    <div class="cta-arrow on-left"></div>
                    <div class="cta-arrow on-right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="cta-wrapper">
                        <div class="cta-body">

                            <div class="cta-action">
                                <button type="button" class="btn-action">Buy now</button>
                                <ul class="payment">
                                    <li><img src="img/paypal.png" alt="" /></li>
                                    <li><img src="img/visa.png" alt="" /></li>
                                    <li><img src="img/master-card.png" alt="" /></li>
                                    <li><img src="img/amex.png" alt="" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="divider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact-line">
                        <p>Before I let you go, I wanted to send out a big thank you for reading this letter.</p>
                        <p>I'm truly excited for you to get started with Digital Business Secrets and see the results.</p>
                        <p>Talk to you soon,</p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="">
                        <p>P.S. You could skip over this offer, but then you'll stay right where you are now. Let me help you get out of the rut you've been in. Start achieving the results you deserve right now. Grab Digital Business Secrets by clicking the buy button above.</p>

                        <p>P.P.S. Just a reminder, this won't be available for long. But don't worry. You're protected by our money back guarantee. So you can try it out today, and enjoy peace of mind. All you have to do is click the buy button above to get started.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End contain wrapp -->

    <!-- Start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="copyright">2019 &copy; Copyright | All rights Reserved | Developed By <a href="http://axcore.org/">Axcore Solutions</a></p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="social-network">
                        <a href="#"><i class="fa fa-facebook fa-2x icon-circle"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x icon-circle"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-2x icon-circle"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-2x icon-circle"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-2x icon-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing-1.3.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Custom form -->
    <script src="js/form/jcf.js"></script>
    <script src="js/form/jcf.scrollable.js"></script>
    <script src="js/form/jcf.select.js"></script>

    <!-- Custom checkbox and radio -->
    <script src="js/checkator/fm.checkator.jquery.js"></script>
    <script src="js/checkator/setting.js"></script>

    <!-- parallax -->
    <script src="js/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="js/parallax/setting.js"></script>

    <!-- Countdown -->
    <script src="js/countdown/lodash.min.js"></script>
    <script src="js/countdown/jquery.countdown.min.js"></script>
    <script type="text/template" id="main-example-template">
        <div class="time <%= label %>">
            <span class="count curr top"><%= curr %></span>
            <span class="count next top"><%= next %></span>
            <span class="midle-line"></span>
            <span class="count next bottom"><%= next %></span>
            <span class="count curr bottom"><%= curr %></span>
            <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
    </script>
    <script src="js/countdown/setting.js"></script>

    <!-- PrettyPhoto -->
    <script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
    <script src="js/prettyPhoto/setting.js"></script>

    <!-- JavaScript totop -->
    <script src="js/totop/jquery.ui.totop.js"></script>
    <script src="js/totop/setting.js"></script>

    <!-- Custom javaScript for this theme -->
    <script src="js/custom.js"></script>

    <!-- Theme option-->
    <script src="js/theme-option/demosetting.js"></script>
</body>

</html>